:root {
  --clr-primary-hsl-400: 10, 79%, 65%;
  --clr-accent-hsl-400: 186, 34%, 60%;

  --clr-primary-400: hsl(var(--clr-primary-hsl-400));
  --clr-accent-400: hsl(var(--clr-accent-hsl-400));

  --clr-neutral-100: hsl(33, 100%, 98%);
  --clr-neutral-200: hsl(27, 66%, 92%);
  --clr-neutral-300: hsl(28, 10%, 53%);
  --clr-neutral-400: hsl(25, 47%, 15%);

  --ff-primary: "DM Sans", sans-serif;

  --fs-300: 0.85rem;
  --fs-400: 1rem;
  --fs-500: 1.125rem;
  --fs-600: 1.25rem;
  --fs-700: 1.5rem;
  --fs-800: 1.75rem;
  --fs-900: 2.5rem;

  --fw-regular: 400;
  --fw-bold: 700;
}

@media (min-width: 40em) {
  :root {
    --fs-400: 1.125rem;
    --fs-500: 1.25rem;
    --fs-600: 1.5rem;
    --fs-700: 1.75rem;
    --fs-800: 2rem;
    --fs-900: 3rem;
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  font: inherit;
}

body {
  display: grid;
  place-items: center;
  min-height: 100vh;

  font-family: var(--ff-primary);
  font-size: var(--fs-400);

  background-color: var(--clr-neutral-200);
  color: var(--clr-neutral-400);
}

.grid-flow {
  display: grid;
  align-content: start;
  gap: 1rem;
}

.grid-flow[data-spacing="small"] {
  gap: 0.5rem;
}

.flex-group {
  display: flex;
  gap: 1rem;
  align-items: center;
  flex-wrap: wrap;
}

.section-title {
  font-size: var(--fs-700);
  font-weight: var(--fw-bold);
}

.divider {
  border: none;
  border-top: 2px solid var(--clr-neutral-200);
}

.expenses {
  width: min(100% - 1rem, 30rem);

  /* for demo only */
  margin-block: 2rem;
}

.balance,
.spending {
  padding-block: clamp(1.5rem, 4vw, 2rem);
  padding-inline: clamp(1.25rem, 4vw, 2rem);
  border-radius: 1rem;
  box-shadow: 2px 2px 15px 2px rgba(0, 0, 0, 0.01);
}

.balance {
  justify-content: space-between;

  background-color: var(--clr-primary-400);
  color: var(--clr-neutral-100);
}

.balance__amount {
  font-size: var(--fs-800);
  font-weight: var(--fw-bold);
  line-height: 1.1;
}

.spending {
  background-color: var(--clr-neutral-100);
}

.spending-chart {
  --bar-width: 35px;
  --bars-spacing: clamp(0.5rem, 2vw, 1rem);
  display: grid;
  grid-auto-flow: column;
  /* grid-auto-columns: var(--bar-width); */
  align-items: end;
  gap: var(--bars-spacing);

  width: 100%;
  aspect-ratio: 1.5 / 1;
  /* height: 15rem; */
  padding-block: 2rem;
}

@media (min-width: 40em) {
  .spending-chart {
    --bar-width: 45px;
  }
}

.spending-chart__bar {
  --bar-bg: var(--clr-primary-400);
  --bar-bg-hover: hsl(var(--clr-primary-hsl-400), 0.5);
  position: relative;

  display: flex;
  justify-content: center;
  align-items: end;

  background-color: var(--bar-bg);
  border-radius: 0.25rem;

  height: var(--height, 100px);
  cursor: pointer;
}

.spending-chart__bar.active {
  --bar-bg: var(--clr-accent-400);
  --bar-bg-hover: hsl(var(--clr-accent-hsl-400), 0.5);
}

.spending-chart__bar:is(:hover, :focus) {
  background-color: var(--bar-bg-hover);
}

.spending-chart__bar::before,
.spending-chart__bar::after {
  position: absolute;
  display: inline-block;
  padding-block: 0.25em;
}

.spending-chart__bar::after {
  content: attr(data-label);
  top: 100%;
  color: var(--clr-neutral-300);
  font-size: var(--fs-300);
}

.spending-chart__bar::before {
  content: attr(data-amount);
  bottom: 100%;

  margin-bottom: 0.5rem;

  background-color: var(--clr-neutral-400);
  color: var(--clr-neutral-100);
  border-radius: 0.5rem;
  padding: 0.25rem 0.5rem;

  transition: opacity var(--transition);
  opacity: 0;
}

.spending-chart__bar:is(:hover, :focus)::before {
  opacity: 1;
}

.spending__info {
  align-items: end;
  justify-content: space-between;
  vertical-align: baseline;
  color: var(--clr-neutral-300);
}

.spending__total span {
  display: block;
  font-size: var(--fs-900);
  color: var(--clr-neutral-400);
  font-weight: var(--fw-bold);
  line-height: 1.1;
}

.spending__comparison {
  text-align: end;
}

.spending__comparison span {
  display: block;
  font-weight: var(--fw-bold);
  color: var(--clr-neutral-400);
}

@media (max-width: 40em) {
  .spending__info {
    width: 1px solid red;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .spending__comparison {
    text-align: center;
  }
}

.sr-only {
  position: absolute;
  overflow: hidden;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  clip: rect(1px, 1px, 1px, 1px);
  -webkit-clip-path: inset(50%);
  clip-path: inset(50%);
  border: 0;
  white-space: nowrap;
}
